
@{
    ViewData["Title"] = "AddCar";
}

<h1>Add Car</h1>
<form action="../Cars/AddCar" method="post">
    <input type="text" name="make" placeholder="Make"/>
    <input type="text" name="model" placeholder="Model" />
    <input type="number" name="year" placeholder="Year" />
    <input type="text" name="color" placeholder="Color" />
    <input type="hidden" name="cardId" value="" />

    <input type="submit" value="Add Car" />





</form>

